In [2]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.svm import SVC

from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [3]:
df=pd.read_csv("Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df["Gender"].replace({"Female":0,"Male":1},inplace=True)

In [5]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [6]:
df.drop("User ID",axis=1,inplace=True)

In [7]:
x=df.drop("Purchased",axis=1)
y=df["Purchased"]

# MinMax Scaling

In [9]:
normal_scaler=MinMaxScaler()
x_scaler=normal_scaler.fit_transform(x)
x_normal_df=pd.DataFrame(x_scaler,columns=x.columns)
x_normal_df

     Gender       Age  EstimatedSalary
0       1.0  0.023810         0.029630
1       1.0  0.404762         0.037037
2       0.0  0.190476         0.207407
3       0.0  0.214286         0.311111
4       1.0  0.023810         0.451852
..      ...       ...              ...
395     0.0  0.666667         0.192593
396     1.0  0.785714         0.059259
397     0.0  0.761905         0.037037
398     1.0  0.428571         0.133333
399     0.0  0.738095         0.155556

[400 rows x 3 columns]

# Spliting

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x_normal_df,y,test_size=0.2,random_state=1,stratify=y)

# Model Training

In [11]:
svm_model=SVC()
svm_model.fit(x_train,y_train)

SVC()

# Testing Data Accuracy

In [14]:
y_pred=svm_model.predict(x_test)

acc=accuracy_score(y_test,y_pred)
print("Testing Accuray :",acc)

con_matrix=confusion_matrix(y_test,y_pred)
print("Confusion Matrix :\n",con_matrix)

clf_report=classification_report(y_test,y_pred)
print("Classification Report :\n",clf_report)

Testing Accuray : 0.8625
Confusion Matrix :
 [[44  7]
 [ 4 25]]
Classification Report :
               precision    recall  f1-score   support

           0       0.92      0.86      0.89        51
           1       0.78      0.86      0.82        29

    accuracy                           0.86        80
   macro avg       0.85      0.86      0.85        80
weighted avg       0.87      0.86      0.86        80

# HyperParameter

## GridSearchCV

In [15]:
svm_model=SVC()
hyp_par={"C":np.arange(1,100),
        "kernel":["linear","poly","rbf","sigmoid"]}
gscv_model=GridSearchCV(svm_model,hyp_par,cv=5)
gscv_model.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]),
                         'kernel': ['linear', 'poly', 'rbf', 'sigmoid']})

In [16]:
gscv_model.best_params_

{'C': 2, 'kernel': 'rbf'}

# Model Training

In [17]:
svm_model=SVC(C=2,kernel="rbf")
svm_model.fit(x_train,y_train)

SVC(C=2)

# Testing Data Accuracy

In [18]:
y_pred=svm_model.predict(x_test)

acc=accuracy_score(y_test,y_pred)
print("Testing Accuray :",acc)

con_matrix=confusion_matrix(y_test,y_pred)
print("Confusion Matrix :\n",con_matrix)

clf_report=classification_report(y_test,y_pred)
print("Classification Report :\n",clf_report)

Testing Accuray : 0.875
Confusion Matrix :
 [[45  6]
 [ 4 25]]
Classification Report :
               precision    recall  f1-score   support

           0       0.92      0.88      0.90        51
           1       0.81      0.86      0.83        29

    accuracy                           0.88        80
   macro avg       0.86      0.87      0.87        80
weighted avg       0.88      0.88      0.88        80